body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0); /* Posición inicial y final */
    }
    50% {
      transform: translateY(-10px); /* Movimiento hacia arriba */
    }
  }
  
  .container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    animation: float 3s ease-in-out infinite; /* Animación constante */
  }
  
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  #task-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #add-task-btn {
    padding: 10px 20px;
    background-color: #35154c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #add-task-btn:hover {
    background-color: #4e3466;
  }
  
  #task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .task-item.completed {
    text-decoration: line-through;
    color: #999;
    background: #e0e0e0;
  }
  
  .task-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    border-radius: 4px;
  }
  
  .task-buttons button:hover {
    background-color: #f0f0f0;
  }
  
  .delete-btn {
    color: #35154c;
  }
  
  .complete-btn {
    color: #376634;
  }
  